@layer base {
  button,
  select {
    cursor: pointer;
    border-radius: 0;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-600) transparent;
  }

  html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  html::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-600);
    border-radius: 3px;
  }

  html::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
