@layer base {
  html {
    font-family: var(--font-base);
    letter-spacing: var(--tracking-tight-2);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-normal);
    color: var(--color-text-primary);
    font-size: var(--text-body1);
  }

  body {
    background-color: var(--color-neutral-0);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
  }

  button,
  select {
    cursor: pointer;
    border-radius: 0;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-disabled) transparent;
  }

  html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  html::-webkit-scrollbar-thumb {
    background-color: var(--color-text-disabled);
    border-radius: 3px;
  }

  html::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
