@utility title2 {
  font-size: var(--text-title2);
}

@utility title3 {
  font-size: var(--text-title3);
}

@utility body1 {
  font-size: var(--text-body1);
}

@utility body1-loose {
  font-size: var(--text-body1);
  line-height: var(--line-loose);
}

@utility body1-bold {
  font-size: var(--text-body1);
  font-weight: var(--font-weight-bold);
}

@utility body2 {
  font-size: var(--text-body2);
}

@utility body2-loose {
  font-size: var(--text-body2);
  line-height: var(--line-loose);
}

@utility caption1 {
  font-size: var(--text-caption1);
}

@utility caption1-loose {
  font-size: var(--text-caption1);
  line-height: var(--line-loose);
}

@utility caption2 {
  font-size: var(--text-caption2);
}

@utility caption2-loose {
  font-size: var(--text-caption2);
  line-height: var(--line-loose);
}

@utility radius-16 {
  border-radius: var(--radius-16);
}

@utility header-h {
  margin-top: var(--size-header-h);
}

@utility page-y {
  margin-block: var(--space-page-y);
}
